<script
	src="/shared/fontSizeWidget/fontSize.js"
	type="module"
	async
	defer
></script>
<fieldset id="font-size-selector">
	<legend>Font size</legend>
	<div>
		<input type="radio" name="font-size" id="font-small" value="small" />
		<label for="font-small">Small</label>
	</div>
	<div>
		<input type="radio" name="font-size" id="font-medium" value="medium" />
		<label for="font-medium">Medium</label>
	</div>
	<div>
		<input type="radio" name="font-size" id="font-large" value="large" />
		<label for="font-large">Large</label>
	</div>
</fieldset>
