<!-- Warning!! This file is ignored by prettier -->
<!doctype html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title><%= typeof title === "undefined" ? "Caleb Owens" : title %></title>
	</head>
