<header class="page-header">
	<nav>
		<h2>Main</h2>
		<a href="/">Home</a>
	</nav>
	<nav>
		<h2>Tech</h2>
		<a href="/about-this-website.html">About this website</a>
	</nav>
	<nav>
		<h2>External</h2>
		<a href="https://github.com/Caleb-T-Owens/website">Website source code</a>
	</nav>
</header>
