<header class="page-header">
	<nav>
		<h2>Main</h2>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/caleb-isms">Caleb-isms</a></li>
		</ul>
	</nav>
	<nav>
		<h2>Tech</h2>
		<ul>
			<li><a href="/about-this-website.html">About this website</a></li>
			<li><a href="/projects">Projects</a></li>
		</ul>
	</nav>
	<nav>
		<h2>External</h2>
		<ul>
			<li>
				<a href="https://github.com/Caleb-T-Owens/website"
					>Website source code</a
				>
			</li>
		</ul>
	</nav>
</header>
