<%- include('shared/header') -%>
<h1>About this website</h1>

<p>
	Given the year is 2024, the construction of this website is probably
	considered "weird" by most standards. As such, I thought it might be worth
	while sharing some of the reasons behind why I chose to build it this way.
</p>
<%- include('shared/footer') -%>
