<%- include("/shared/header") -%>
<p>Last updated <time datetime="2024-08-04">4th August 2024</time></p>

<article>
	<h1>Projects</h1>

	<p>I sometimes have various projects!</p>

	<!-- <section>
		<h2>Pirate software's 15th game jam</h2>

		<a href="/projects/game-jam-15/game-design-document.html"
			>Game design document</a
		>
	</section> -->
</article>

<%- include("/shared/footer") -%>
